<section class="section-sm pt-0 cta">
	<div class="container">
		<div class="row align-items-center bg-dark p-5">
			<div class="col-lg-8">
				<h3 class="text-white mb-0">Click On The Button To Download My Resume</h3>
			</div>
			<div class="col-lg-4 text-lg-right mt-5 mt-lg-0">
				<a href="https://drive.google.com/file/d/1r93MB3Qq4ldN2r0MIoxrf8EjCPHBBMO9/view?usp=drivesdk" class="btn btn-white">Get Resume</a>
			</div>
		</div>
	</div>
</section>

<section class="section service-home border-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h2 class="mb-2 ">Major Achievements</h2>
				<p class="mb-5">Have a look on my Major achievements and still working to get more....</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4">
				<div class="service-item mb-5" data-aos="fade-left" >
					<i class="ti-layout"></i>
					<h4 class="my-3">Code Kaze(Round 1)</h4>
					<p>AIR 413 in CodeKaze Round 1 in India’s largest Coding contest out of 200K contestant conducted by Coding Ninjas </p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="service-item mb-5" data-aos="fade-left"  data-aos-delay="450">
					<i class="ti-announcement"></i>
					<h4 class="my-3">Code Kaze(Round 2)</h4>
					<p>AIR 413 in CodeKaze Round 1 in India’s largest Coding contest out of 200K contestant conducted by Coding Ninjas </p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="service-item mb-5 mb-lg-0" data-aos="fade-left"  data-aos-delay="750">
					<i class="ti-layers"></i>
					<h4 class="my-3"> Startup India Program</h4>
					<p>All India rank 17 in Startup India Program Run by Govt of India in collaboration with York University.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="service-item" data-aos="fade-left"  data-aos-delay="750">
					<i class="ti-anchor"></i>
					<h4 class="my-3">KPMG Hackthon</h4>
					<p>Creared KPMG Prilims round got amongst top 400 out of 13K contestant</p>
				</div>
			</div>
		</div>
	</div>
</section>

