<section class="section banner-3">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-12">
				<div class="profile mb-5">
					<img src="images/haniketphoto.jpg" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-7">
				<h2>Haniket</h2>

				<p class="lead mb-4">I'm a Student, active learner and a full stack web developer specialized in, <i>Java and MERN stack Applications.</i></p>

				<p class="mb-4">I was born in Gurugram in 2001. I am enrolled in Btech Program in DCRUST Murthal with major in ECE</p>
		
				<!-- <img src="" alt="image" class="img-fluid"> -->
			</div>

			<div class="col-lg-5">
				<ul class="list-unstyled mt-3 mb-5 about-list">
					<li>- Full Stack Web Developer</li>
					<li>- Java Developer</li>
					<li>- React.JS</li>
					<li>- OOPS</li>
				</ul>
			</div>
		</div>
	</div>
</section>
