<section class="section banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-10">
				 <h2 class="cd-headline clip is-full-width mb-4 ">
					I am HANIKET,<br> I am a <br>
                    <span class="cd-words-wrapper text-color">
                        <b class="is-visible">MERN Stack Developer. </b>
						<b>Engineer</b>
                        <b>Coder</b>
                        <b>Java Geek</b>
                    </span>
                </h2>
                <p>I'm now enrolled in the seventh semester of a btech programme at DCRUST Murthal with a major in ECE.<br>
					I'm interested in software development sector, particularly those involving full stack web development and issue resolution employing the best data structures and algorithms.<br>
					Java, React, JavaScript, NodeJS, ExpressJS, SQL, MongoDB, HTML, CSS, and OOPS are among the technological families.</p>
			</div>
		</div>
	</div>
</section>
